.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 35px;
}

.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 175px;

  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: 500;
}
