.tableHeader {
  height: 48px;

  background-color: #efefef;
}

.tableHeader th {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.tableBody td {
  font-family: Montserrat, serif;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
}

.tableLink {
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.tableLink:hover {
  color: #366eff;
  text-decoration: underline;
}
