.tableHeader {
  height: 48px;

  background-color: #efefef;
}

.tableHeader th {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.tableBody td {
  font-family: Montserrat, serif;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
}

.notFound {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  text-align: left;
}
