.filters {
  display: grid;
  grid-template-columns: 413px 196px 251px 40px;
  justify-content: space-between;

  margin-bottom: 25px;
}

.filtersTitle {
  margin: 0 0 10px 0;

  font-family: Montserrat, serif;
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-align: left;
}

.slider {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

.sliderValue {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 36px;
  height: 36px;

  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: 600;

  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.resetFilterBlock {
  position: relative;
}

.filterRemoveButton {
  cursor: pointer;

  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 36px;

  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
