.tableLink {
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.tableLink::first-letter{
    text-transform: uppercase;
}

.tableLink:hover {
  color: #366eff;
  text-decoration: underline;
}


