
.formContainer{
    margin: 0 auto;
    max-width: 413px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.title {
    font-family: 'Montserrat', serif;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
}
.input {

}

a.link{
    color: #2c70be;
}
.btn{
    color:#fff;
}

.instructionsText {
    font-family: 'Montserrat', serif;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.error {
    font-size: 14px;
    margin: 0;
    color: red;
}

.inputBlock{
    height: 60px;
}