.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  max-width: 413px;
  height: 350px;
  margin: 0 auto;
  padding: 20px;

  background-color: #fff;
  border-radius: 10px;
}

.title {
  font-family: 'Montserrat', serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}
.input {
}

a.link {
  color: #2c70be;
}
.btn {
  color: #fff;
}

.instructionsText {
  margin-top: 10px;

  font-family: 'Montserrat', serif;
  font-size: 14px;
  text-align: center;
}

.error {
  margin: 0;

  font-size: 14px;
  color: red;
}

.inputBlock {
  height: 60px;
}
