h2 {
  margin: 0;
}

.formContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  max-width: 413px;
  height: 528px;
  margin: 0 auto;
  padding: 20px;

  background-color: #fff;
  border-radius: 10px;
}

.title {
  font-family: 'Montserrat', serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}

.recover {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 40px;
}

.recover span {
  font-family: 'Montserrat', serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 17px;
}

a.link:active,
a.link:hover,
a.link {
  font-family: 'Montserrat', serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #366eff;
  text-decoration-line: underline;
}

.text {
  font-family: 'Montserrat', serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  color: #000;

  opacity: 0.5;
}
.emailError,
.passwordError {
  position: absolute;

  display: flex;
  justify-content: center;

  width: 413px;

  font-size: 14px;
  font-style: italic;
  color: red;
}
.emailError {
  top: 140px;
}
.passwordError {
  top: 215px;
}
