
.formContainer {
    margin: 0 auto;
    max-width: 413px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.title {
    font-family: 'Montserrat', serif;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
}

.input {
}

.instructionsText {
    font-family: 'Montserrat', serif;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.loginMessage {
    font-family: 'Montserrat', serif;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
    opacity: 0.5;
}

.link {
    font-size: 16px;
}

a.link:active,
a.link:hover,
a.link {
    text-decoration-line: underline;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'Montserrat', serif;
    color: #366EFF;
}

.btn {
    color: #fff;
}

.error {
    color: red;
}

.inputBlock {
    height: 80px;
}

