.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  max-width: 413px;
  height: 350px;
  margin: 0 auto;
  padding: 20px;

  background-color: #fff;
  border-radius: 10px;
}

.title {
  font-family: 'Montserrat', serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}

.input {
}

.instructionsText {
  margin-bottom: 10px;

  font-family: 'Montserrat', serif;
  font-size: 14px;
  text-align: center;
}

.loginMessage {
  margin-bottom: 10px;

  font-family: 'Montserrat', serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;

  opacity: 0.5;
}

.link {
  font-size: 16px;
}

a.link:active,
a.link:hover,
a.link {
  font-family: 'Montserrat', serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #366eff;
  text-decoration-line: underline;
}

.btn {
  color: #fff;
}

.error {
  color: red;
}

.inputBlock {
  height: 80px;
}
