@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.app {
  position: relative;
}

.app-wrapper {
  position: relative;

  max-width: 1010px;
  margin: 0 auto;
  padding-top: 40px;

  text-align: center;
}

.linearProgress {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}
