.wrapper{
    position: fixed;
    top:120px;
    text-align: center;
    width: 100%;
}

.formContainer{
    position: relative;
    margin: 0 auto;
    max-width: 413px;
    height: 528px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background-color: #fff;

}
.title {
    font-family: 'Montserrat', serif;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
}
.input {
    margin-bottom: 15px;
}

a.link:active,
a.link:hover,
a.link {
    /*text-decoration: none;*/
    text-decoration-line: underline;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'Montserrat', serif;
    color: #366EFF;
}
.text{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    opacity: 0.5;
}
.btn{
    color:red;
}


