.superInput {
  width: 200px;
  height: 30px;
  margin: 5px;

  text-align: center;

  background-color: rgba(255, 255, 255, 0.16);
  border: 1px solid #fff;
  border-radius: 3px;
}

.errorInput {
  background: red;
  border: 3px solid lime;
}

.error {
  color: red;
}
