/* .backLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white !important;
}

.backLink:hover{
    cursor: pointer;
}

.backLink svg {
    padding-top: 2px;
    margin-right: 6px;
} */

.nameButtonBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-top: 30px;

  color: white;
}

.nameButtonBlock div {
  font-family: Montserrat, serif;
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.packNameMenuBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.packName {
  font-family: 'Montserrat', serif;
  font-weight: 600;
  line-height: 27px;
}

.packName::first-letter {
  text-transform: uppercase;
}

.moreButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 184px;

  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: 500;
}

.infoMessage {
  margin-top: 70px;

  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.deckCover {
  display: flex;

  margin-top: 20px;
}
.deckCover img{
  width: 120px;

  border-radius: 2px;
}
